* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(315deg, #C2E9FB 0%, #A1C4FD 100%);
  display: grid;
  place-items: center;
  height: 100vh;
}

.hide {
  display: none;
}

main {
  border-radius: .6rem;
  background: #FFFFFF;
  box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);
  margin-top: -12rem;
  text-align: center;
  color: #34355B;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  
}

p {
  opacity: .8;
}

body, button, input, h2 {
  font-family: 'DM Sans', sans-serif;
}

form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button {
  border: 0;  
  padding: 1.6rem;
}

input {
  border-radius: .4rem 0 0 .4rem;
  background: #DCE2E9;
  width: 6rem;
}

button {
  color: #ffffff;
  font-weight: bold;
  border-radius: 0 .4rem .4rem 0;
  background: #7879F1;  
  cursor: pointer;

  transition: background .3s;
}

button:hover {
  background: #474780;   
}

h2 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 3.3rem;
}

.screen2 button {
  border-radius: .4rem;
}